# App
NODE_ENV=development
PORT=3000
APP_BASE_URL=http://localhost:3000

# Postgres
DATABASE_URL=postgresql://wallet:wallet@localhost:5432/wallet_payments

# Redis (BullMQ)
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=72hwhbhsbbhsjhwnjbbsbgwg2h8u2y3t3uh2hsgswhbnjnsjw
JWT_EXPIRES_IN=1d

# Paystack
PAYSTACK_SECRET_KEY=sk_test_43f408dcccfd74011bfdfbde9cde252a97843e15
PAYSTACK_PUBLIC_KEY=pk_test_9595d30c7bc7036efe5148f06aefadfc6ced85c3
# Business rules
DEPOSIT_EXPIRY_MINUTES=30
THROTTLE_TTL_SECONDS=60
THROTTLE_LIMIT=60
